@model GasOil.Models.ProductsPageModel
@{
    ViewBag.Title = "Продукция";    

    bool showAdminControls = Session["login"] != null;

    ViewBag.showAdminControls = showAdminControls;
}
<div class="container-fluid" style="padding-top: 20px;">    
    @if (showAdminControls)
    {
        <div style="background-color: white; width: 12em; position: absolute; left: 50px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; border: solid 1px #ddd;">
            @Html.ActionLink("Редактировать", "EditCategories", "Products", null, new { @class = "btn btn-primary center", role = "button", style = "display: table; margin-bottom: 5px; margin-top: 5px;" })
            @Html.Partial("_ProductCategoryPanel")
        </div>
    }
    else
    {
        @Html.Partial("_ProductCategoryPanel")
    }


    <table class="table table-condensed center border-radius-2" style="width: 70%; background-color: white;">
    @if (showAdminControls)
    {
        <tr>
            <td colspan="4">
                @Html.ActionLink("Добавить", "Add", "Products", null, new { @class = "btn btn-success", role = "button"})
            </td>
        </tr>
    }
        <tr>
            <th>
                Наименование
            </th>
            <th>
                Ед. измерения
            </th>
            @if (showAdminControls)
            {
                <th>
                    Действие
                </th>
            }
        </tr>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name
                </td>
                <td>@product.UnitOfMeasurementName
                </td>
                @if (showAdminControls)
                {
                    <td>@Html.ActionLink("Удалить", "Delete", "Products", new { ViewBag.groupId, productId = product.ProductId }, new { @class = "btn btn-default", role = "button" })
                        @Html.ActionLink("Изменить", "Edit", "Products", new { ViewBag.groupId, productId = product.ProductId }, new { @class = "btn btn-primary", role = "button" })
                    </td>
                }
            </tr>
            
        }
    </table>
</div>
