@using CaptchaMvc.HtmlHelpers
@using GasOil.DataModel
@{
    ViewBag.Title = "Отправить заявку";    
}
@if (ViewBag.Success != null && ViewBag.Success == true)
{
    <div style="margin-left: auto; margin-right: auto; width: 50%; background-color: white; vertical-align: middle;">
        Ваша заявка отправлена нашим менеджерам. В ближайшее время с вами свяжутся.
    </div>
}
else
{
    using (Html.BeginForm("Build", "Requests"))
    {
        <table class="table" style="margin-left: auto; margin-right: auto; width: 50%; background-color: white; vertical-align: middle;">
            @if (ViewBag.RequestCategories != null && ((List<RequestCategory>)ViewBag.RequestCategories).Any())
            {
              <tr>
                <td style="width: 20%;">
                    Тема сообщения*
                </td>
                  <td>
                      <select name="categoryId" class="form-control">
                          @{ 
                              foreach (var category in ((List<RequestCategory>) ViewBag.RequestCategories))
                              {
                                  var selected = category.Id != ViewBag.SelectedCategoryId ? "":"selected";
                                  <option value="@category.Id" @selected>@category.CategoryName</option>
                              }
                          }
                      </select>
                  </td>
            </tr>
            }
            <tr>
                <td style="width: 20%;">
                    ФИО*
                </td>
                <td>
                    <input type="text" name="fio" class="form-control" value="@ViewBag.fio"/>
                </td>
            </tr>
            <tr>
                <td>
                    Номер телефона*
                </td>
                <td>
                    <input type="text" name="phone" class="form-control" value="@ViewBag.phone"/>
                </td>
            </tr>
            <tr>
                <td>
                    Текст сообщения*
                </td>
                <td>
                    <textarea  name="message" class="form-control" style="height: 10em;">@ViewBag.message</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Введите текст с картинки
                </td>
                <td>
                    @Html.Captcha(4, "_Captcha")
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    *Поля обязателны для заполнения
                </td>
            </tr>
            @if (@ViewBag.ErrorMessage != null)
            {
                <tr>
                    <td colspan="2" align="center" style="color: red;">
                        @ViewBag.ErrorMessage
                    </td>
                </tr>            
            }
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" class="btn btn-default" value="Отправить"/>
                </td>
            </tr>        
        </table>
    }
}


