@model List<GasOil.DataModel.Request>
@{
    ViewBag.Title = "Заявки";
}
<table class="table center" style="width: 85%; background-color: white;">
        <tr>
            <th>Контактное лицо</th>
            <th>Номер телефона</th>
            <th>Коментарий</th>
            <th>Дата</th>
            <th>Действие</th>
        </tr>
    @foreach (var request in Model)
    {
        <tr>
            <td>
                @request.PersonName
            </td>
            <td>
                @request.PersonPhone
            </td>
            <td>
                <textarea class="form-control" readonly style="margin: 0; width: 25em; height: 15em;">@request.Message</textarea>
            </td>
            <td>
                @request.CreationTime.ToString()
            </td>
            <td>
                @Html.ActionLink("Удалить", "Delete", "Requests", new { id = request.Id }, new { @class = "btn btn-default", role = "button" })
            </td>
        </tr>
    }
</table>