<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Html.Raw(string.Format("{0} - ООО \"ОПТИМУМ ИНТЕР ПАРЕС\"", string.IsNullOrEmpty(ViewBag.Title) ? "" : ViewBag.Title))</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    
    @Styles.Render("~/Content/bootstrap/css", "~/Content/css")
    @RenderSection("css", false)

    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
    @RenderSection("scripts", false)

</head>
    <body>
        @Html.Partial("_MenuPartial")
        @RenderBody()
        <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
            <div class="container-fluid" style="text-align: center;">
                @Html.Raw(string.Format("{0} &copy; {1}", "ООО \"ОПТИМУМ ИНТЕР ПАРЕС\"", DateTime.Now.Year))
            </div>
        </div>
        <script type="text/javascript" id="leadhacker-embeder-251ff689856549cdb6d8392781b551ff" class="leadhacker-async-script-loader">
            var tracker_code = '251ff689856549cdb6d8392781b551ff';

            (function (w, d, c) {
                function async_load() {
                    var t = new Date(); t = (t.getMonth() + 1).toString() + t.getDate().toString() + t.getFullYear();
                    var s = d.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = (d.location.protocol == 'https:' ? 'https:' : 'http:') + '//www.leadhacker.ru/t/' + t + '/lhw.js';
                    var embedder = d.getElementById('leadhacker-embeder-251ff689856549cdb6d8392781b551ff');
                    (((embedder == null) || (typeof embedder === "undefined")) ? d.body.appendChild(s) : embedder.parentNode.insertBefore(s, embedder));
                }
                if (w.attachEvent)
                    w.attachEvent('onload', async_load);
                else
                    w.addEventListener('load', async_load, false);
            })(window, document, 'leadhacker_callbacks');
        </script>
    </body>
</html>
